body {
    background-color: #9C835F;
    min-height: 100vh;
}

/* DOM MANIPULATION */

.cursor {
    pointer-events: none;
    cursor: not-allowed;
}

.active {
    background-color: blanchedalmond;
}

.versusBox .versus .active-text-win {
    color: white;
    background-color: green;
    font-size: 300%;
    font-family: 'Open Sans';
}

.versusBox .versus .active-text-win1 {
    color: white;
    background-color: green;
    font-size: 300%;
    font-family: 'Open Sans';
    animation: spin1 0.8s;
}

@keyframes spin1 {
    50% {
        transform: rotate(-50deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.activePlayer {
    background-color: blanchedalmond;
    animation-play-state: paused;
}

/* DOM End Tag */

/* Navigation Area  */
.backButton {
    width: 5%;
}

.bi-arrow-left-circle-fill {
    width: 60%;
    color: #724C21;
}

.bi-arrow-left-circle-fill:hover {
    width: 70%;
    color: blanchedalmond;
}

.brand img {
    width: 80%;
}

.brand {
    width: 6%;
}

.title h1 {
    font-family: 'Open Sans';
    color: #F9B23D;
    font-weight: 600;
    font-size: 2rem;
}

/* Navigation Area End Tag  */

/* Game Area Section  */
.gameArea {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.playerChoice {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.playerChoice img {
    width: 40%;
}

.playerChoice button {
    margin-top: 0%;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 20px;
}

.playerChoice button:hover {
    background-color: blanchedalmond;
    animation: pulse 1.4s infinite;
}

.playerChoice button:focus {
    background-color: blanchedalmond;
    animation-play-state: paused;
    box-shadow: none;
}

@keyframes pulse {

    0%,
    100% {
        animation-timing-function: ease-in;
    }

    50% {
        transform: scale(1.2);
    }
}

.comBrain {
    display: flex;
    flex-direction: column;
}

.comBrain button {
    margin-top: 0%;
    margin-bottom: 12%;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 20px;
}

.comBrain button:focus {
    box-shadow: none;
}

.comBrain button:hover {
    cursor: default;
}

.comBrain img {
    width: 40%;
}

.versusBox {
    width: 600%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.versus h1 {
    font-size: 6rem;
    font-family: 'Open Sans';
    padding: 10% 10%;
    color: red;
    font-weight: bold;
    justify-content: center;
    border-radius: 20px;
}

.refresh img {
    width: 40%;
}

.refresh {
    position: absolute;
    top: 570px;
    transform: translateX(60px);
    width: 15%;
}

.refresh button:hover {
    animation: spin 1s infinite;
}

.refresh button:focus {
    animation-play-state: paused;
    box-shadow: none;
}


@keyframes spin {
    100% {
        transform: rotate(-360deg);
    }
}

/* Game Area Section End Tag  */