</body>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
</script>
<script>
    // To Get Data Register From Users
    // let first_name = document.querySelector('#firstName');
    // let last_name = document.querySelector('#lastName');
    // let full_name = document.querySelector('#fullName');
    // let age = document.querySelector('#age');
    // let date_of_birth = document.querySelector('#dateOfBirth');
    // let gender = document.querySelector('#gender');
    // let username = document.querySelector('#username');
    // let password = document.querySelector('#password');
    // let email = document.querySelector('#email');
    // let address= document.querySelector('#address');

    // function signup() {
    //     let validation = validationForm();
    //     if (!validation) {
    //         return Swal.fire({
    //             icon: "error",
    //             title: "Oops...",
    //             text: `Please Fill The Form Completely With Right Format !!!`,
    //         });
    //     }
    //     fetch('/register', {
    //             method: "POST",
    //             headers: {
    //                 "Content-type": "application/json"
    //             },
    //             body: JSON.stringify({
    //                 first_name: first_name.value,
    //                 last_name: last_name.value,
    //                 full_name: full_name.value,
    //                 age: age.value,
    //                 date_of_birth: date_of_birth.value,
    //                 gender: gender.value,
    //                 username: username.value,
    //                 password: password.value,
    //                 email: email.value,
    //                 address: address.value
    //             })
    //         }).then(response => response.json())
    //         .then(async (result) => {
    //             await Swal.fire({
    //                 position: "top-center",
    //                 icon: "success",
    //                 title: `${result.message}`,
    //                 showConfirmButton: false,
    //                 timer: 2000,
    //             });
    //             return (window.location.href = "/login");
    //         }).catch(err => console.log(err));
    // }

    // function validationForm() {
    //     let forms = document.querySelectorAll('input');
    //     let validation = true;

    //     forms.forEach((e) => {
    //         if (e.id == 'email' && !validateEmail(e.value)) {
    //             validation = false;
    //         } else if (e.value.length < 1) {
    //             validation = false;
    //         }
    //     })

    //     return validation;
    // }

    // function validateEmail(email) {
    //     let mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
    //     let validationEmail = (email.match(mailformat)) ? true : false;
    //     let validEmail = document.querySelector('.valid-email');

    //     return validationEmail;
    // }

    // function date() {
    //     let myAge = document.querySelector('#age');
    //     let birthday = document.querySelector('#dateOfBirth').value;
    //     let ageInMilliseconds = new Date() - new Date(birthday);
    //     let conYears = Math.floor(ageInMilliseconds / 1000 / 60 / 60 / 24 / 365); // convert to years;
    //     myAge.value = conYears;
    //     if (myAge.value < 1) {
    //         Swal.fire({
    //             icon: "error",
    //             title: "Oops...",
    //             text: "Your age should be > 0",
    //         });
    //         return myAge.value = '';
    //     }
    // }
</script>

</html>