<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Suit</title>
    <!-- my icon link -->
    <link rel="icon" href="/assets_suit_game/logo1.png" type="image/png">
    <!-- my font link  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <!-- my bootstrap 5 link  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- my css link  -->
    <link rel="stylesheet" href="/css-gameSuit/gamesuit.css">
    <link rel="stylesheet" href="/css-gameSuit/game-mediaQueries.css">
</head>

<body>
    <!--Header-->
    <section class="header mt-sm-4 mb-sm-4 ms-sm-3">
        <header>
            <!-- back button, brand, and title-->
            <div class="container-fluid">
                <div class="d-flex flex-row">
                    <div class="backButton">
                        <a href="/"> <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                                <path
                                    d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                            </svg> </a>
                    </div>
                    <div class="brand">
                        <img src="assets_suit_game/logo1.png" alt="icon.png">
                    </div>
                    <div class="title">
                        <h1>ROCK PAPER SCISSORS</h1>
                    </div>
                </div>
            </div>
            <!-- back button, brand, and title End Tag-->
        </header>
    </section>
    <!--Header End Tag-->
    <!-- Game -->
    <section>
        <div class="container gameArea">
            <!-- Player Area -->
            <div class="playerArea ">
                <h1 class="">Player 1</h1>
                <div class="general-score-area">
                    <div class="score-area win">
                        <h3 class="score-text" id="player-text-win">WIN</h3>
                    </div>
                    <div class="score-area lose">
                        <h3 class="score-text" id="player-text-lose">LOSE</h3>
                    </div>
                </div>
                <div class="playerChoice player ">
                    <button id="rock-p" class="btn mb-5 rock ">
                        <img src="assets_suit_game/batu.png" alt="rock">
                    </button>
                    <button id="paper-p" class="btn mb-5 paper ">
                        <img src="assets_suit_game/kertas.png" alt="paper">
                    </button>
                    <button id="scissors-p" class="btn mb-5 scissors ">
                        <img src="assets_suit_game/gunting.png" alt="scissors">
                    </button>
                </div>
            </div>
            <!-- Player Area End Tag-->
            <!-- Versus Box -->
            <div class="versusBox">
                <div class="draw-score-area">
                    <div class="draw-score">
                        <h3 class="score-text" id="draw-result">DRAW</h3>
                    </div>
                </div>
                <div class="versus">
                    <h1 id="textVS">VS</h1>
                </div>
                <div class="refresh">
                    <button class="btn reset-button "><img src="assets_suit_game/refresh.png"
                            alt="Refresh Button"></button>
                </div>
            </div>
            <!-- Versus Box End Tag-->
            <!-- Computer Area -->
            <div class="computerArea ">
                <h1 class="">Computer</h1>
                <div class="general-score-area">
                    <div class="score-area win">
                        <h3 class="score-text" id="com-text-win">WIN</h3>
                    </div>
                    <div class="score-area lose">
                        <h3 class="score-text" id="com-text-lose">LOSE</h3>
                    </div>
                </div>
                <div class="comBrain">
                    <button class="btn " id="rock"><img src="assets_suit_game/batu.png" alt="rock"></button>
                    <button class="btn " id="paper"><img src="assets_suit_game/kertas.png" alt="paper"></button>
                    <button class="btn " id="scissors"><img src="assets_suit_game/gunting.png" alt="scissors"></button>
                </div>
            </div>
        </div>
        <!-- Computer Area End Tag-->
    </section>
    <!-- Game End Tag-->
</body>
<script type="module" src="/js-gameSuit/gamesuit.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
</script>

</html>