#bg-history {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)), url('/assets_website_landing_page/top-score-bg.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
label {
    color: white;
}
#example_info {
    color: white;
}